// External
@import "~bourbon-neat/core/_neat";
// Internal
@import "../mixins/_grid";
@import "../variables/_grid";
@import "../functions/_utils";

@each $name, $map in $breakpoint-list {
    @include breakpoint($map) {
        @for $i from 1 through map-get($map, columns) {
            $columns: map-get($map, columns);

            @if $i / $columns == 0.5 {
                .#{$name}-#{$i}, .#{$name}-half {
                    @include grid-column($i, $map);
                    margin-bottom: rem($grid-margin-bottom);
                }
            } @else if $i / $columns == 0.25 {
                .#{$name}-#{$i}, .#{$name}-quarter {
                    @include grid-column($i, $map);
                    margin-bottom: rem($grid-margin-bottom);
                }
            } @else if $i / $columns == 1 {
                .#{$name}-#{$i}, .#{$name}-full {
                    @include grid-column($i, $map);
                    margin-bottom: rem($grid-margin-bottom);
                }
            } @else {
                .#{$name}-#{$i} {
                    @include grid-column($i, $map);
                    margin-bottom: rem($grid-margin-bottom);
                }
            }

            // TODO: get push to work
            //.#{$name}-push-#{$i} {
            //	@include grid-push($i, $map);
            //}
        }
    }

    .#{$name}-collapse {
        @include grid-collapse($map);
    }
}

.row-collapse {
    @include grid-collapse($grid-sm);
}

.container {
    @include grid-container;
    max-width: $container-width;
    margin: auto;
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        display: table;
    }
}

.row {
    @include grid-container;
}

.full-height {
    height: 100%;
}
