@import "../functions/_utils";
@import "../variables/_action-menu";

.ks-action-menu {
    display: inline-block;
    position: relative;

    .menu-button {
        border: $am-button-border;
        background: $am-button-bg;
        padding: rem($am-button-padding);
        outline: none;
        cursor: pointer;
        position: relative;
        z-index: 2;

        svg {
            vertical-align: middle;
        }
    }
}

.ks-menu-list {
    background: $am-list-bg;
    min-width: $am-list-min-width;
    display: none;
    z-index: 3;
    box-shadow: $am-box-shadow-bottom;

    &.active {
        display: block;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .list-item, a {
        text-decoration: none;
        padding: rem($am-list-link-padding);
        display: block;
        color: $am-list-link-color;
        white-space: nowrap;

        &.separator {
            border-top: 1px solid $am-list-separator;
        }

        &:hover {
            background: $am-list-link-hover-bg;
            color: $am-list-link-hover-color;
        }

        &.danger {
            color: $state-danger-bg;

            &:hover {
                background: $state-danger-bg;
                color: $state-danger-color;
            }
        }
    }
}