.alert {
	padding: get($alert-settings, padding);
	margin: get($alert-settings, margin);
	border-radius: get($alert-settings, border-radius);
	border: 1px solid transparent;
}

@each $name, $map in $alert {
	.alert.#{$name} {
		color: color($alert, $name, color);
		background-color: color($alert, $name, background-color);
		border-color: color($alert, $name, border-color)
	}
}
