@import "../functions/_map";
@import "../variables/_settings";

.ks-alert {
	padding: $alert-padding;
	margin: $alert-margin;
	border-radius: $alert-border-radius;
	border: 1px solid transparent;
}

@each $name, $map in $alerts {
	.ks-alert.#{$name} {
		color: get($map, color);
		background-color: get($map, background-color);
		border-color: get($map, border-color)
	}
}
