.alert {
	padding: setting(alert, padding);
	margin: setting(alert, margin);
	border-radius: setting(alert, border-radius);
	border: 1px solid transparent;
}

@each $name, $map in color(alert) {
	.alert.#{$name} {
		color: color(alert, $name, color);
		background-color: color(alert, $name, background-color);
		border-color: color(alert, $name, border-color)
	}
}
