.autocomplete-holder {
	position: relative;
	@include form-input(inline-block);
	background: color(white);
	padding: 0;
	border: 0;

	> input:not(.is-multiple) {
		@include ks-autocomplete-input;
	}

	> input.is-multiple {
		border: 0;
		outline: none;
	}

	&:not(.is-multiple).is-selected {
		.selection {
			@include ks-autocomplete-input;
		}
	}

	&:not(.is-multiple) {
		.selection {
			display: block;
			width: 100%;
			padding: 0.5em;
		}
	}

	.selection {

		.selection-text {
			background-color: color(white);
			display: inline-block;
			color: color(text-color);

			a {
				height: 0.8rem;
				width: 0.8rem;
				position: relative;
				display: inline-block;

				&:hover {
					svg g {
						fill: darken(color(med-gray), 40%);
					}
				}
			}

			svg {
				height: 0.8rem;
				width: 0.8rem;
				position: absolute;
				top: 1px;

				g {
					fill: darken(color(med-gray), 20%);
				}
			}
		}
	}


	&.is-multiple {
		@include ks-autocomplete-input;
		padding: calc(0.3em - 4px) 0.3em;

		&:not(.is-selected) {
			padding: calc(0.5em - 1px);
		}

		.autocomplete-list {
			width: calc(100% + 2px);
			left: -1px;
			margin-top: 0.5em;
		}

		&.is-selected .autocomplete-list {
			margin-top: calc(0.5em - 6px);
		}

		.selection .selection-text {
			background-color: color(brand, lighter);
			margin: 4px;
			padding: 3px 5px;
			border-radius: 3px;
			color: color(white);

			a:hover {
				svg g {
					fill: darken(color(brand, lighter), 40%);
				}
			}

			svg g {
				fill: darken(color(brand, lighter), 20%);
			}
		}
	}
}


.autocomplete-list {
	margin: 0;
	z-index: 100;
	padding: 0;
	width: 100%;
	background-color: color(white);
	position: absolute;
	list-style: none;
	border: solid 1px color(med-light-gray);
	border-top: 0;
	overflow-y: scroll;

	> li {
		padding: 0.25em 0.5em 0.25em 0.2em;
		border: 1px solid transparent;
		border-bottom: solid 1px color(med-light-gray);

		&:last-child {
			border: 0;
		}

		&.selected-item {
			@include state-hover();
			color: #fff;
		}

		&:hover {
			@include state-hover();
			background: lighten(color(state, hover, background-color), 10%);
		}
	}
}
