@import "../mixins/_state";
@import "../mixins/_animation";
@import "../mixins/_utils";
@import "../functions/_utils";
@import "../functions/_map";
@import "../variables/_buttons";
@import "../variables/_alerts";

.ks-button {
	display: inline-block;
	padding: rem($button-padding);
	cursor: pointer;
	text-decoration: none;
	border-radius: $button-border-radius;
	@include transition(background-color);
	@include state-default;
	@if $button-box-shadow != false {
		box-shadow: $button-box-shadow;
	}

	&:hover:not(.disabled) {
		@include state-hover;
	}

	&.disabled, &:disabled {
		@include disable;
	}

    &.danger {
        @include state-danger;
        &:hover {
            @include state-danger-hover();
        }
    }

    &.spinning {
        position: relative;
        .ks-spin-loading {
            border-top-color: darken($state-default-bg, 10%);
        }
    }

    .button-label {
        display: inline-block;
        &.hidden {
            visibility: hidden;
        }
    }

	@each $name, $map in $buttons {
		$bg-color: get($map, background-color);

		&.#{$name} {
			background-color: $bg-color;
			color: get($map, color);
			border: 1px solid get($map, border-color);

			@if map-has-key($map, box-shadow) {
				box-shadow: get($map, box-shadow);
			}

            &.spinning {
                .ks-spin-loading {
                    border-color: get($map, border-color);
                    border-top-color: $bg-color;
                }
            }

			&:hover:not(.disabled) {
				border: 1px solid get($map, border-color);
				background-color: darken($bg-color, 4%);
				color: get($map, hover);
			}

			&.danger {
				border-color: get($map, danger-border-color);
				color: get($map, danger-color);
				background-color: get($map, danger-bg);

                &.spinning {
                    .ks-spin-loading {
                        border-color: get($map, danger-border-color);
                        border-top-color: get($map, danger-bg);
                    }
                }

				&:hover:not(.disabled) {
					border-color: darken(get($map, danger-border-color), 12%);
					color: darken(get($map, danger-color), 12%);
					background-color: darken($bg-color, 4%);
				}
			}

            &.success {
                border-color: get($map, success-border-color);
                color: get($map, success-color);
                background-color: get($map, success-bg);

                &.spinning {
                    .ks-spin-loading {
                        border-color: get($map, success-border-color);
                        border-top-color: get($map, success-bg);
                    }
                }

                &:hover:not(.disabled) {
                    border-color: darken(get($map, success-border-color), 12%);
                    color: darken(get($map, success-color), 12%);
                    background-color: darken($bg-color, 4%);
                }
            }
		}
	}

	@each $name, $size in $button-sizes {
		&.#{$name} {
			font-size: rem($size);
		}
	}

    @each $name, $map in $alerts {
        &.#{$name} {
            background: get($map, button-background-color);
            color: get($map, button-color);

            &:hover {
                background: darken(get($map, button-background-color), 8%);
            }
        }
    }
 }
