@import "../mixins/_state";
@import "../mixins/_animation";
@import "../mixins/_utils";
@import "../functions/_utils";
@import "../functions/_map";
@import "../variables/_buttons";
@import "../variables/_alerts";

.button {
	display: inline-block;
	padding: rem($button-padding);
	cursor: pointer;
	text-decoration: none;
	border-radius: $button-border-radius;
	@include transition(background-color);
	@include state-default;
	@if $button-box-shadow != false {
		box-shadow: $button-box-shadow;
	}

	&:hover:not(.disabled) {
		@include state-hover;
	}

	&.disabled {
		@include disable;
	}

	@each $name, $map in $buttons {
		$bg-color: get($map, background-color);

		&.#{$name} {
			background-color: $bg-color;
			color: get($map, color);
			border: 1px solid get($map, border-color);

			@if map-has-key($map, box-shadow) {
				box-shadow: get($map, box-shadow);
			}

			&:hover:not(.disabled) {
				border: 1px solid get($map, border-color);
				background-color: darken($bg-color, 4%);
				color: get($map, hover);
			}
		}
	}

	@each $name, $size in $button-sizes {
		&.#{$name} {
			font-size: rem($size);
		}
	}

    @each $name, $map in $alerts {
        &.#{$name} {
            background: get($map, button-background-color);
            color: get($map, button-color);

            &:hover {
                background: darken(get($map, button-background-color), 8%);
            }
        }
    }
 }