.button {
	display: inline-block;
	padding: 0.4em 0.6em;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0 2px 4px rgba(color(black), 0.2);
	@include transition(background-color);

	&:hover:not(.disabled) {
		@include state-hover;
	}

	&.disabled {
		@include disable;
	}

	@each $name, $map in color(buttons) {
		$bg-color: color(buttons, $name, background-color);

		&.#{$name} {
			background-color: $bg-color;
			color: color(buttons, $name, color);
			border: 1px solid color(buttons, $name, border-color);

			@if map-has-key($map, box-shadow) {
				box-shadow: color(buttons, $name, box-shadow);
			}

			&:hover:not(.disabled) {
				border: 1px solid color(buttons, $name, border-color);
				background-color: darken($bg-color, 4%);
				color: color(buttons, $name, hover);
			}
		}
	}

	@each $name, $map in setting(buttons, sizes) {
		&.#{$name} {
			font-size: setting(buttons, sizes, $name);
		}
	}
}