// External
@import "~bourbon-neat/core/_neat";
@import "../mixins/_grid";

$calendar-grid: (
	columns: 7,
	gutter: 0
);

.ks-calendar {
	.ks-calendar-title {
		text-align: center;
	}

	.cal-week {
		@include row();

		.cal-day {
			@include grid-column(1, $calendar-grid);
		}
	}
}
