// External
@import "~bourbon-neat/core/_neat";
@import "../mixins/_grid";
@import "../variables/calendar";
@import "../functions/utils";

$calendar-grid: (
	columns: 7,
	gutter: 0
);

.ks-calendar {
	background: $calendar-bg;
	.ks-calendar-title {
		background: $calendar-header-bg;
		color: $calendar-header-color;
		padding: rem($calendar-header-padding);
		text-align: center;
	}

	.ks-calendar-month {
		width: 100%;
		border-collapse: collapse;

		.cal-week:first-of-type .cal-day:first-of-type {
			//margin-left: 42.85714%;
		}
		.cal-week {
			display: flex;
			.cal-day, .cal-blank {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 0;
			}
		}

		.cal-day, .cal-blank {
			border-collapse: collapse;
			box-shadow: -1px -1px $calendar-day-border-color, inset -1px -1px $calendar-day-border-color;
			.day-num {
				display: block;
				text-align: right;
			}
		}

		.cal-week-header {
			font-weight: bold;
			.cal-day {
				box-shadow: none;
			}
		}
	}
}
