@import "calendar";
@import "../mixins/_forms";
@import "../variables/_forms";
@import "../variables/_datepicker";

.ks-datepicker {
	position: relative;

	input.ks-datepicker-display {
		@include form-input();
	}

	.ks-calendar-view {
		width: 17rem;
		//height: 15.5rem;
	}

	.ks-datepicker-cal {
		position: absolute;
		font-size: 0.8em;
		box-shadow: $datepicker-cal-box-shadow;
		z-index: 100;
		.ks-cal-week {
			min-height: 2rem;
            .ks-cal-day .ks-day-num,
            .ks-cal-blank .ks-day-num {
                text-align: center;
            }
		}
	}
}
