@import "../variables/drag_and_drop";

.ks-drop-zone-active {
    outline: $drop-zone-outline-color dashed;
}
[draggable] {
    transition: all 150ms ease-out;
}
.ks-dragging {
    transform: scale(0.8);
    opacity: 0.8;
}