@import "forms/_options";
@import "forms/_select";

.form-group {
	margin-bottom: 1em;

	.title {
		@include form-label(block, 600);
		max-width: 100%;
		margin-bottom: 0.5em;

		&.top {
			vertical-align: top;
		}
	}

	[type='text'],
	[type='password'],
	[type='date'],
	[type='datetime'],
	[type='datetime-local'],
	[type='month'],
	[type='week'],
	[type='email'],
	[type='number'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='url'],
	[type='color'],
	textarea {
		@include form-input(block);
	}

	textarea.no-resize {
		resize: none;
	}

	&.inline {
		.title {
			@include form-label(inline-block, 600);

			margin-right: 0.5em;
			margin-bottom: 0;
		}

		[type='text'],
		[type='password'],
		[type='date'],
		[type='datetime'],
		[type='datetime-local'],
		[type='month'],
		[type='week'],
		[type='email'],
		[type='number'],
		[type='search'],
		[type='tel'],
		[type='time'],
		[type='url'],
		[type='color'],
		textarea {
			@include form-input(inline-block);
		}
	}
}
