@mixin form-elements($display) {
	margin-bottom: 1em;

	> label {
		@include form-label($display, 600);
		max-width: 100%;

		@if ( $display == inline-block ) {
			margin-right: 0.5em;
		} @else {
			margin-bottom: 0.5em;
		}

		&.top {
			vertical-align: top;
		}
	}

	[type='text'],
	[type='password'],
	[type='date'],
	[type='datetime'],
	[type='datetime-local'],
	[type='month'],
	[type='week'],
	[type='email'],
	[type='number'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='url'],
	[type='color'],
	textarea {
		@include form-input($display);
	}

	textarea.no-resize {
		resize: none;
	}

	.checkbox, .radio {
		display: $display;

		&-inline {
			display: $display;

			label {
				@include form-label(inline-block);
			}
		}

		label {
			@include form-label(block);
		}
	}
}

.form-group {
	@include form-elements(block);

	&-inline {
		@include form-elements(inline-block);
	}
}