@import "../functions/_utils";
@import "forms/_options";
@import "forms/_select";
@import "../mixins/_forms";

.ks-form-group {
	margin-bottom: rem($form-group-margin-bottom);

	.ks-label {
		max-width: 100%;
		margin-bottom: rem($form-title-margin-bottom);
		display: block;
		font-weight: $form-title-font-weight;
		font-size: $form-font-size;

		&.disabled {
			opacity: $form-title-disabled-opacity;

			> *, & {
				cursor: not-allowed;
			}
		}

		&.top {
			vertical-align: top;
		}
	}

    .ks-error-msg {
        color: $form-error-color;
        background: $form-error-bg-color;
        font-size: $form-error-font-size;
        padding: $form-error-padding;
    }

	[type='text'],
	[type='password'],
	[type='date'],
	[type='datetime'],
	[type='datetime-local'],
	[type='month'],
	[type='week'],
	[type='email'],
	[type='number'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='url'],
	[type='color'],
	textarea {
		@extend %form-input-block;
	}

	textarea.no-resize {
		resize: none;
	}

	&.ks-inline {
		.ks-title {
			display: inline-block;

			margin-right: rem($form-title-margin-right);
			margin-bottom: 0;
		}

		[type='text'],
		[type='password'],
		[type='date'],
		[type='datetime'],
		[type='datetime-local'],
		[type='month'],
		[type='week'],
		[type='email'],
		[type='number'],
		[type='search'],
		[type='tel'],
		[type='time'],
		[type='url'],
		[type='color'],
		textarea {
			@extend %form-input-inline;
		}
	}
}
