@import "../functions/_utils";
@import "../functions/_color";
@import "../functions/_settings";
@import "../mixins/_grid";
@import "../variables/_settings";

* {
	box-sizing: border-box;
}

html {
	// Set font-size to 14px base
	font-size: $global-font-size * 0.875;

	@include tab() {
		// Set font size to 16px base
		font-size: $global-font-size;
	}
}

body {
	font-size: rem(14px);

	@include tab() {
		font-size: rem(16px);
	}
}

html, body {
	background-color: $body-bg;
	color: $body-color;
	line-height: $global-line-height;
	height: 100%;
}

.content {
	height: 100%;
	@include col(12);

	@include tab() {
		$width: $nav-width;

		width: calc(100% - #{$width});
		margin-left: $width;
	}
}