* {
	box-sizing: border-box;
}

html, body {
	background-color: color(background-color);
	font-size: 14px;
	height: 100%;

	@include tab() {
		font-size: 16px;
	}
}

.content {
	height: 100%;
	@include col(12);

	@include tab() {
		$width: setting(nav, width);

		width: calc(100% - #{$width});
		margin-left: $width;
	}
}