.nav-bar {
	@include nav-bar;

	&.vertical {
		width: setting(nav, width);
		height: 100%;

		.nav-links {
			list-style-type: none;

			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;
			}

			a {
				display: block;
			}
		}
	}

	&.fixed {
		position: fixed;
		z-index: -1;

		@include tab() {
			z-index: auto;
		}
	}
}

.top-bar {
	@include top-bar;
}