@import "../functions/_utils";
@import "../variables/_panels";

.panel {
	margin-bottom: $panel-margin-bottom;
	box-shadow: $panel-box-shadow $panel-box-shadow-color;
	background-color: $panel-bg;
	border: 1px solid $panel-border-color;

	& &-header, & &-footer {
		background-color: $panel-header-bg;
		padding: rem($panel-header-padding);
		color: $panel-header-color;
	}

	& &-body {
		padding: rem($panel-body-padding);
	}

	&.no-shadow {
		box-shadow: none;
	}
}