@import "../functions/_utils";
@import "../mixins/_animation";
@import "../variables/_tabs";
@import "../mixins/_grid";
@import "../mixins/shapes";
@import "../mixins/utils";

.ks-tabs {

	.tabs-title-bar-wrapper {
		position: relative;
		height: rem($tabs-height);

		@include tab(true) {
			&:after {
				content: '';
				position: absolute;
				right: rem(0.8rem);
				@include v-center();
			}

			.tabs-title-bar li.selected-tab a {
				border-top-color: $tabs-links-border-top-color;
			}
			&:not(.show) {
				&:after {
					@include triangle-down($color: #444, $size: 10px);
				}
			}
			&.show {
				&:after {
					z-index: 201;
					@include triangle($color: #444, $size: 10px, $direction: 'up');
				}
				.tabs-title-bar {
					z-index: 100;

					li {
						&:first-child a {
							border-top-color: $tabs-links-border-top-color;
						}
						&:not(.selected-tab) {
							display: flex;
						}
						&.selected-tab:not(:first-child) a {
							border-top-color: transparent;
						}
					}
				}
			}
		}
	}

	.tabs-title-bar {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;

		position: absolute;
		flex-direction: column;
		width: 100%;

		@include tab() {
			position: relative;
			flex-direction: row;
			width: auto;

		}

		li {
			display: flex;
			@if $tabs-links-border-right != false {
				border-right: $tabs-links-border-right;
			}

			&:last-child {
				border-right: 0;
			}

			a {
				display: flex;
				align-items: center;
				text-decoration: none;
				color: $tabs-inactive-color;
				font-size: rem($tabs-font-size);
				border-top: 2px solid transparent;
				margin: 0;
				padding: rem($tabs-padding);
				height: rem($tabs-height);
				min-width: rem($tabs-min-width);
				background-color: $tabs-bg;
				flex-grow: 1;
				@include transition();

				&:hover {
					opacity: 1;
				}

				@include tab() {
					flex-grow: 0;
					opacity: $tabs-opacity;
				}
			}

			&.selected-tab {
				border-right: 0;

				a {
					background-color: $tabs-links-bg;
					color: $tabs-links-color;
					opacity: 1;

					@include tab() {
						border-top-color: $tabs-links-border-top-color;
					}
				}
			}

			@include tab(true) {
				&:not(.selected-tab) {
					display: none;
				}
			}
		}

		&.expand {
			li, a {
				flex-grow: 1;
			}
		}

		&.title-center {
			li a {
				justify-content: center;
			}
		}

		&.title-left {
			li a {
				justify-content: flex-start;
			}
		}

		&.title-right {
			li a {
				justify-content: flex-end;
			}
		}
	}

	.tabs-content {
		background-color: $tabs-content-bg;
		padding: rem($tabs-content-padding);

		@if $tabs-content-box-shadow != false {
			box-shadow: $tabs-content-box-shadow;
		}
	}
}