.ks-tabs {

	.tabs-title-bar {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;

		li {
			display: flex;

			a {
				text-decoration: none;
				color: #444;
				font-size: 1.1em;
				border-top: 2px solid transparent;
				margin: 0;
				align-items: center;
				padding: 0 0.75em;
				height: 2em;
				min-width: 4em;
				display: flex;
				justify-content: center;
				background-color: darken(color($main, background-color), 8%);
				opacity: 0.7;
				@include transition();

				&:hover {
					opacity: 1;
				}
			}

			&.selected-tab {
				a {
					background-color: $white;
					color: color($brand, lighter);
					border-top-color: color($brand, lighter);
					opacity: 1;
				}
			}
		}
	}

	.tabs-content {
		background-color: color($general, white);
		padding: 1em;
		box-shadow: 1px 1px 2px rgba(color($general, black), 0.1);
	}
}