@import "../functions/_color";
@import "../functions/_settings";
@import "../mixins/_animation";

.ks-tabs {

	.tabs-title-bar {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;

		li {
			display: flex;
			border-right: 1px solid darken(color(background-color), 10%);

			&:last-child {
				border-right: 0;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
				color: color(text-color);
				font-size: setting(tabs, title, font-size);
				border-top: 2px solid transparent;
				margin: 0;
				padding: setting(tabs, title, padding);
				height: setting(tabs, title, height);
				min-width: setting(tabs, title, min-width);
				background-color: darken(color(background-color), 8%);
				opacity: setting(tabs, title, opacity);
				@include transition();

				&:hover {
					opacity: 1;
				}
			}

			&.selected-tab {
				border-right: 0;

				a {
					background-color: color(white);
					color: color(brand, lighter);
					border-top-color: color(brand, lighter);
					opacity: 1;
				}
			}
		}

		&.expand {
			li, a {
				flex-grow: 1;
			}
		}
	}

	.tabs-content {
		background-color: color(white);
		padding: setting(tabs, content, padding);
		box-shadow: 1px 1px 2px rgba(color(black), 0.1);
	}
}