@import "../mixins/_utils";
@import "../variables/_global";

.right {
	float: right;
	right: 0;
}

.left {
	float: left;
	left: 0;
}

.t-right, .text-right {
	text-align: right;
	right: 0;
}

.t-left, .text-left {
	text-align: left;
	left: 0;
}

.t-center, .text-center {
	text-align: center;
}

.rel, .relative {
	position: relative;
}

.abs, .absolute {
	position: absolute;
}

.v-center {
	@include v-center();
}

.hide {
	display: none;
}

.v-hide, .hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.muted {
	color: $text-muted;
}