@function ks-column-width($grid, $columns) {
    $_column-ratio: ks-column-ratio($grid, $columns);
    $_gutter: map-get($grid, gutter);

    @if $_gutter == 0 {
        @return unquote("#{percentage($_column-ratio)}");
    } @else {
        $_gutter-affordance: $_gutter + ($_gutter * $_column-ratio);
        @return unquote("#{percentage($_column-ratio)} - #{$_gutter-affordance}");
    }
}