@function ks-merge-defaults($grid) {
    $_merged-grid: map-merge((
        columns: 12,
        gutter: 20px,
        media: null,
        color: rgba(#00d4ff, 0.25),
        direction: ltr,
    ), $grid);

    @return $_merged-grid;
}