@import "../variables/_global";


/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return math.div($number / ($number * 0 + 1));
	}

	@return $number;
}

@function to-rem($value, $base) {
	@if unit($value) == 'em' {
		$value: strip-unit($value) * 1rem;
	}

	@if unit($value) != 'rem' {
		$value: calc(strip-unit($value) / strip-unit($base)) * 1rem;
	}

	@if $value == 0rem {
		$value: 0;
	}

	@return $value;
}

@function rem($numbers) {
	$base: $global-font-size;
	$count: length($numbers);
	$values: ();

	// 100% font size == 16px is most browsers
	@if unit($base) == '%' {
		$base: calc($base / 100%) * 16px;
	}

	@if $count == 1 {
		@return to-rem($numbers, $base);
	}

	@for $i from 1 through $count {
		$values: append($values, to-rem(nth($numbers, $i), $base));
	}

	@return $values;
}
