@import "./_global";

$badge-bg: $state-default-bg !default;
$badge-color: $state-default-color !default;
$badge-font-size: 0.9rem !default;
$badge-padding: 3px 8px !default;
$badge-border-radius: 10px !default;