// Private Color Variable
$_white: #fff;
$_black: #000;
$_header-color: #444;
$_light-gray: #eee;
$_med-gray: #aaa;
$_text-color: #444;

$_brand-primary: #2C3E50;
$_brand-light: #46719C;
$_brand-lighter: #80B5E9;
$_brand-secondary: #A52924;
$_brand-off: #C18C77;

$colors: (
	white: #fff,
	black: #000,
	header-color: #444,
	light-gray: #eee,
	med-gray: #aaa,
	text-color: #444,
	background-color: #eff2f3,
	brand: (
		primary: #2C3E50,
		light: #46719C,
		lighter: #80B5E9,
		secondary: #A52924,
		off: #C18C77
	),
	alert: (
		success: (
			color: #3c763d,
			background-color: #dff0d8,
			border-color: #d6e9c6
		),
		warning: (
			color: #8a6d3b,
			background-color: #fcf8e3,
			border-color: #faebcc
		),
		info: (
			color: #31708f,
			background-color: #d9edf7,
			border-color: #bce8f1
		),
		error: (
			color: #a94442,
			background-color: #f2dede,
			border-color: #ebccd1
		)
	),
	panel: (
		background-color: $_white,
		shadow: $_med-gray,
		header-background: $_light-gray,
		header-color: $_header-color
	),
	nav: (
		background-color: $_brand-primary,
		color: $_white,
		brand-background: $_white,
		hover: $_brand-light
	),
	top-bar: (
		background-color: $_white,
		color: $_brand-primary,
		hover: $_brand-light,
		hover-color: $_white
	),
	buttons: (
		default: (
			background-color: $_brand-light,
			hover: darken($_brand-light, 12%),
			color: $_white,
			box-shadow: $_black
		),
		outline: (
			background-color: $_white,
			hover: $_brand-light,
			color: $_brand-light,
			border-color: $_brand-light
		),
		none: (
			background-color: transparent,
			color: $_brand-light,
			hover: darken($_brand-light, 20%),
			border-color: transparent,
			box-shadow: none
		)
	),
	tabs: (
		content: (
			background-color: $_white,
		)
	)
) !default;