@import "../functions/_map";

// Color Variable
$white: #fff !default;
$black: #000 !default;
$header-color: #444 !default;

// Grays
$lighter-gray: #eff2f3 !default;
$light-gray: #eee !default;
$gray: #ccc !default;
$med-gray: #aaa !default;
$dark-gray: #888 !default;
$darker-gray: #444 !default;

$text-color: $darker-gray !default;

// Brand Colors
// TODO: Change names
$brand: (
	primary: #2C3E50,
	light: #46719C,
	lighter: #80B5E9,
	secondary: #A52924,
	off: #C18C77
) !default;

// State Colors
$state-success: #3c763d !default;
$state-success-bg: #dff0d8 !default;
$state-success-border: darken($state-success-bg, 5%) !default;

$state-info: #31708f !default;
$state-info-bg: #d9edf7 !default;
$state-info-border: darken($state-info-bg, 7%) !default;

$state-warning: #8a6d3b !default;
$state-warning-bg:  #fcf8e3 !default;
$state-warning-border: darken($state-warning-bg, 5%) !default;

$state-error: #a94442 !default;
$state-error-bg: #f2dede !default;
$state-error-border: darken($state-error-bg, 5%) !default;


// State Actions
$state-default-bg: get($brand, light) !default;
$state-default-border: transparent !default;
$state-default-color: $white !default;

$state-hover-bg: darken(get($brand, light), 12%) !default;
$state-hover-border: transparent !default;
$state-hover-color: $white !default;

$colors: (
	white: $white,
	black: $black,
	header-color: $header-color,
	light-gray: $light-gray,
	med-light-gray: #ccc,
	med-gray: #aaa,
	med-dark-gray: #888,
	dark-gray: #666,
	text-color: #444,
	background-color: #eff2f3,
	brand: (
		primary: get($brand, primary),
		light: get($brand, light),
		lighter: get($brand, lighter),
		secondary: get($brand, secondary),
		off: get($brand, off)
	),
	nav: (
		background-color: get($brand, primary),
		color: $white,
		brand-background: $white,
		hover: get($brand, light)
	),
	top-bar: (
		background-color: $white,
		color: get($brand, primary),
		hover: get($brand, light),
		hover-color: $white
	)
) !default;