$flex-direction: (
    'column': column,
    'row': row
) !default;

$flex-wrap: (
    'wrap': wrap,
) !default;

$flex-align: (
    'center': center,
    'start': flex-start,
    'baseline': baseline,
    'end': flex-end,
    'stretch': stretch,
) !default;

$flex-justify-content: (
    'center': center,
    'between': space-between,
    'end': flex-end,
    'stretch': stretch,
) !default;

$flex-align-self: (
    'center': center,
) !default;