@import "../functions/_map";
@import "_global";


//
// Default Forms
//
$form-border: 1px solid $med-gray !default;
$form-color: $text-color !default;
$form-padding: 0.5rem !default;
$form-box-shadow: inset 0 1px 5px rgba($black, 0.1) !default;
$form-group-margin-bottom: 1rem !default;
$form-font-size: 0.8rem !default;

//
// Title
//
$form-title-margin-bottom: 0.3rem !default;
$form-title-margin-right: 0.5rem !default;
$form-title-font-weight: 600 !default;
$form-title-disabled-opacity: 0.7 !default;

//
// Form Input Block
//
$form-block-margin-top: 0 !default;
$form-block-margin-bottom: 0.3rem !default;

//
// Form Input Inline-Block
//
$form-inline-margin-left: 0.3rem !default;
$form-inline-margin-right: 0.3rem !default;

//
// Form Options
//
$form-options-bg: transparent !default;
$form-options-border: $med-gray !default;
$form-options-active-bg: $state-default-bg !default;
$form-options-active-border: $state-default-bg !default;
$form-options-focus-border: $state-focus-color !default;
$form-options-height: 1.1rem !default;
$form-options-width: 1.1rem !default;
$form-options-border-radius: 2px !default;
$form-options-margin-right: 0.5rem !default;

// Used for block
$form-options-margin-bottom: 0.5rem !default;
// Used for inline
$form-options-margin-right: 0.5rem !default;

// Radio
$form-radio-select-scale: 0.7 !default;
// Checkbox
$form-checkbox-check-fill: $white !default;
// Checkbox switch styles
$switch-active-color: $state-default-bg !default;
$switch-disabled-color: $lighter-gray !default;
$switch-background-color: white !default;


// Error messages
$form-error-color: $state-error !default;
$form-error-bg-color: transparent !default;
$form-error-font-size: $form-font-size !default;
$form-error-padding: 0.2rem !default;
