$container-width: 1200px !default;

$neat-grid: (
	columns: 12,
	gutter: 0
);

// (name, columns, gutter, media)
$breakpoint-list: (
	sm: (columns: 12, gutter: 1rem, media: null),
	tab: (columns: 12, gutter: 1rem, media: 769px),
	med: (columns: 12, gutter: 1rem, media: 1024px),
	lg: (columns: 12, gutter: 1rem, media: 1224px),
	xlg: (columns: 12, gutter: 1rem, media: 1400px),
);

// Breakpoints
$grid-sm: map-get($breakpoint-list, sm);
$grid-tab: map-get($breakpoint-list, tab);
$grid-med: map-get($breakpoint-list, med);
$grid-lg: map-get($breakpoint-list, lg);
$grid-xlg: map-get($breakpoint-list, xlg);


$grid-margin-bottom: 1rem;