@import "_colors";

$panel-margin-bottom: 20px !default;
$panel-bg: $white !default;

$panel-header-bg: $light-gray !default;
$panel-header-padding: 10px !default;
$panel-border-color: $panel-header-bg !default;
$panel-box-shadow: 0 5px 15px -2px !default;
$panel-box-shadow-color: $med-gray !default;

$panel-body-padding: 15px !default;

