@import "_global";

$select-bg: $white !default;
$select-border-color: $gray !default;
$select-input-padding: 0.4rem !default;
$select-selected-padding: 0.5rem !default;

$select-arrow-color: $darker-gray !default;
$select-dropdown-border-color: $gray !default;

$select-deselect-border-radius: 50% !default;
$select-deselect-border-color: transparent !default;
$select-deselect-color: $text-color !default;
$select-deselect-bg: transparent !default;
$select-deselect-hover-color: $white !default;
$select-deselect-hover-bg: $state-error !default;
$select-deselect-hover-border-color: transparent !default;

$select-empty-message-color: $med-gray !default;
$select-empty-message-style: italic !default;
$select-open-shadow: 0 0px 5px lighten($state-default-bg, 10%) !default;
