@import "_colors";

$select-bg: $white !default;
$select-border-color: $gray !default;
$select-input-padding: 0.4rem !default;
$select-selected-padding: 0.5rem !default;

$select-arrow-color: $darker-gray !default;
$select-dropdown-border-color: $gray !default;