@import "_global";
@import "_alerts";
@import "_grid";
@import "_navigation";
@import "_buttons";
@import "_loaders";
@import "_modal";
@import "_tabs";

$settings: (
	state: (
		default: (
			font-weight: normal,
		),
		hover: (
			font-weight: normal,
		)
	)
);