@import "_global";

$table-breakpoint: tab !default;

// Basic Table
$table-border-color: $gray !default;
$table-cell-padding: 0.5rem !default;
$table-bg: $white !default;
$table-margin-bottom: 1rem !default;

// Responsive Table
$table-res-margin: 0 0 0.5rem 0 !default;

// Striped
$table-strip-tr-color: $light-gray !default;

// Shadow
$table-box-shadow: 0 0 3px darken($light-gray, 8%), 0 3px 6px darken($light-gray, 8%) !default;

//  Brand Table Header
$table-brand-header-color: $white !default;