@import "../../mixins/flex";
@import "../../variables/flex";
@import "../../variables/layout";

@each $class-name, $value in $layouts {
    .#{$class-name} {
        display: $value;
    }
}

@each $name, $value in $flex-direction {
    .#{$name} {
        flex-direction: $value;
    }
}

@each $name, $value in $flex-wrap {
    .#{$name} {
        flex-wrap: $value;
    }
}

@each $name, $value in $flex-align-items {
    .align-#{$name}, .items-#{$name} {
        align-items: $value;
    }
}

@each $name, $value in $flex-align-content {
    .content-#{$name} {
        align-content: $value;
    }
}

@each $name, $value in $flex-justify-content {
    .jc-#{$name}, .justify-#{$name} {
        justify-content: $value;
    }
}

@each $name, $value in $flex-align-self {
    .align-self-#{$name}, .self-#{$name} {
        align-self: $value;
    }
}

@each $name, $value in $flex-basis {
    @debug $name;
    .basis-#{$name} {
        flex-basis: $value;
    }
}

@each $name, $value in $flex {
    .flex-#{$name} {
        flex: $value;
    }
}
