@import "../../functions/_utils";
@import "../../variables/_forms";

.ks-checkbox, .ks-radio {
	display: flex;
	align-items: center;
	margin-bottom: rem($form-options-margin-bottom);
    user-select: none;

	&.inline {
		display: inline-flex;
		margin-right: rem($form-options-margin-right);
	}

	input[type="checkbox"], input[type="radio"] {
		opacity: 0;
		position: absolute;
	}

	&.ks-state-active {
		.ks-checkbox-input-wrapper {
			background-color: $form-options-active-bg;
			border-color: $form-options-active-border;

			svg {
				$abs_offset: ($form-options-border-radius / 2) * -1;

				position: absolute;
				height: calc(#{rem($form-options-height)} - #{$form-options-border-radius});
				width: calc(#{rem($form-options-width)} - #{$form-options-border-radius});
				top: $abs_offset;
				left: $abs_offset;

				path {
					fill: $form-checkbox-check-fill;
				}
			}
		}

		.ks-radio-input-wrapper {
			border-color: $form-options-active-border;

			.radio-check {
				position: absolute;
				display: block;
				background-color: $form-options-active-bg;
				border-radius: 50%;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				transform: scale(#{$form-radio-select-scale});
			}
		}

		.ks-checkbox-label-wrapper, .ks-radio-label-wrapper {
			text-shadow: 1px 0px 0px $text-color;
		}
	}


	.ks-checkbox-input-wrapper, .ks-radio-input-wrapper {
		position: relative;
		background-color: $form-options-bg;
		border: 2px solid $form-options-border;
		height: $form-options-height;
		width: $form-options-width;
		border-radius: $form-options-border-radius;
		flex-shrink: 0;
		margin-right: rem($form-options-margin-right);
	}

	.ks-radio-input-wrapper {
		border-radius: 50%;
	}

	.ks-checkbox-label-wrapper, .ks-radio-label-wrapper {
		line-height: rem($form-options-height);
	}

    &:hover {
        cursor: pointer;
    }

}
// Option buttons
.ks-radio-group.option-buttons .ks-radio, .ks-checkbox-group.option-buttons .ks-checkbox {
	display: inline-block;
	padding: 0.5rem 0.5rem;
	border: solid 1px $gray;
	border-left-width: 0;
	color: lighten($text-color, 10%);
	white-space: nowrap;
	margin: 0;
	&:first-child {
		border-left-width: 1px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	&:last-child {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	&:hover {
		color: $text-color;
	}
	&.ks-state-active {
		box-shadow: inset 0 0 10px darken($form-options-active-bg, 17%);
		background: $form-options-active-bg;
		color: $form-checkbox-check-fill;
		text-shadow: 1px 0px 0px $form-checkbox-check-fill;
		border-color: $form-options-active-bg;
	}

	.ks-checkbox-input-wrapper, .ks-radio-input-wrapper {
		display: none;
	}

	.ks-radio-label-wrapper, .ks-checkbox-label-wrapper {

	}
}
