@import "../../functions/_utils";
@import "../../variables/_forms";

.ks-checkbox, .ks-radio {
	display: flex;
	align-items: center;
	margin-bottom: rem($form-options-margin-bottom);
    user-select: none;

	&.inline {
		display: inline-flex;
		margin-right: rem($form-options-margin-right);
	}

	input[type="checkbox"], input[type="radio"] {
		opacity: 0;
		position: absolute;
	}

	&.ks-state-active {
		.ks-checkbox-input-wrapper {
			background-color: $form-options-active-bg;
			border-color: $form-options-active-border;

			svg {
				$abs_offset: ($form-options-border-radius / 2) * -1;

				position: absolute;
				height: calc(#{rem($form-options-height)} - #{$form-options-border-radius});
				width: calc(#{rem($form-options-width)} - #{$form-options-border-radius});
				top: $abs_offset;
				left: $abs_offset;

				path {
					fill: $form-checkbox-check-fill;
				}
			}
		}

		.ks-radio-input-wrapper {
			border-color: $form-options-active-border;

			.radio-check {
				position: absolute;
				display: block;
				background-color: $form-options-active-bg;
				border-radius: 50%;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				transform: scale(#{$form-radio-select-scale});
			}
		}

		.ks-checkbox-label-wrapper, .ks-radio-label-wrapper {
			text-shadow: 1px 0px 0px $text-color;
		}
	}


	.ks-checkbox-input-wrapper, .ks-radio-input-wrapper {
		position: relative;
		background-color: $form-options-bg;
		border: 2px solid $form-options-border;
		height: $form-options-height;
		width: $form-options-width;
		border-radius: $form-options-border-radius;
		flex-shrink: 0;
		margin-right: rem($form-options-margin-right);
	}

	.ks-radio-input-wrapper {
		border-radius: 50%;
	}

	.ks-checkbox-label-wrapper, .ks-radio-label-wrapper {
		line-height: rem($form-options-height);
	}

    &:hover {
        cursor: pointer;
    }

}
// Option buttons
.ks-radio-group.option-buttons, .ks-checkbox-group.option-buttons {
    display: inline-block;
    .ks-radio, .ks-checkbox {
        display: inline-block;
        padding: 0.532rem 0.5rem;
        border: solid 1px $gray;
        border-left-width: 0;
        color: lighten($text-color, 10%);
        white-space: nowrap;
        margin: 0 0 rem($form-block-margin-bottom);
        &:first-child {
            border-left-width: 1px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        &:hover {
            color: $text-color;
        }
        &.ks-state-active {
            box-shadow: inset 0 0 10px darken($form-options-active-bg, 17%);
            background: $form-options-active-bg;
            color: $form-checkbox-check-fill;
            text-shadow: 1px 0px 0px $form-checkbox-check-fill;
            border-color: $form-options-active-bg;
        }

        .ks-checkbox-input-wrapper, .ks-radio-input-wrapper {
            display: none;
        }

        .ks-radio-label-wrapper, .ks-checkbox-label-wrapper {

        }
    }
}
.ks-checkbox.switch {

    $switch-width: 2.25rem;
    $switch-padding: 0.1rem;
    $switch-height: 1.4rem;
    $switch-radius: $switch-height;
    $knob-size: $switch-height - ($switch-padding * 2);
    $knob-radius: $switch-height - ($switch-padding * 2);
    $knob-width: $knob-size;
    $switch-background: $switch-background-color;
    $switch-border-background: darken($switch-background-color, 9%);
    $switch-shadow: 0 2px 5px transparentize(black, 0.6);

    border-radius: $switch-radius;
    cursor: pointer;
    height: $switch-height;
    position: relative;
    display: inline-block;
    width: auto;
    margin-bottom: 0rem;

    .ks-checkbox-label-wrapper {
        margin-left: 0.25rem;
        display: inline-block;
        vertical-align: 0.3rem;
        transition: all 0.2s;
    }

    input[type="checkbox"] {
        display: none;

        + .ks-checkbox-switch {
            display: inline-block;
            background: $switch-border-background;
            border: 0;
            border-radius: $switch-radius;
            cursor: pointer;
            height: $switch-height;
            margin: 0;
            padding: 0;
            position: relative;
            transition: all 0.3s ease;
            width: $switch-width;
            z-index: 0;


            &::before {
                position: absolute;
                top: 2px;
                right: 0;
                bottom: 0;
                left: 2px;
                //@include position(absolute, 2px 0 0 2px);
                background: $switch-background;
                border-radius: $switch-radius;
                content: "";
                height: $knob-radius;
                transform: scale(1);
                transition: all 0.3s ease;
                width: $switch-width - ($switch-padding * 2);
                z-index: 1;
            }

            &::after {
                position: absolute;
                top: 2px;
                right: 0;
                bottom: 0;
                left: 2px;
                height: $knob-size;
                width: $knob-size;
                background: $switch-background;
                border-radius: $knob-radius;
                box-shadow: $switch-shadow;
                content: "";
                transition: all 0.3s ease;
                z-index: 2;
            }
        }

        &:checked {
            + .ks-checkbox-switch {
                background: $switch-active-color;

                &::before {
                    transform: scale(0);
                }

                &::after {
                    left: $switch-width - $knob-width - ($switch-padding);
                }
            }
        }

        &:disabled {
            + .ks-checkbox-switch {
                &::before {
                    background: $switch-disabled-color;
                }
            }
            ~ .ks-checkbox-label-wrapper {
                opacity: 0.5;
                font-style: italic;
            }
        }
    }
}
