.ks-radio {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;

	&.inline {
		display: inline-flex;
		margin-right: 0.5em;
	}

	input[type="radio"] {
		opacity: 0;
		position: absolute;
	}

	&.ks-state-active {
		.ks-radio-input-wrapper {
			border-color: color(brand, lighter);

			.radio-check {
				position: absolute;
				display: block;
				background-color: color(brand, lighter);
				border-radius: 50%;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				transform: scale(0.7);
			}
		}

		.ks-radio-label-wrapper {
			font-weight: bold;
		}
	}

	.ks-radio-input-wrapper {
		position: relative;
		border: 2px solid color(med-gray);
		height: 1.1rem;
		width: 1.1rem;
		border-radius: 50%;
		flex-shrink: 0;
		margin-right: 0.5rem;
	}

	.ks-radio-label-wrapper {
		line-height: 1.1rem;
	}
}