@import "../../functions/_utils";
@import "../../mixins/_forms";
@import "../../mixins/_autocomplete";
@import "../../mixins/_shapes";
@import "../../mixins/_utils";
@import "../../variables/_select";

.ks-select {
	cursor: pointer;
	position: relative;
	display: inline-block;
	@include form-input(false);
	background: $select-bg;
	padding: 0;
	margin-bottom: rem($form-block-margin-bottom);

	.ks-select-dropdown {
        border: 0;
		position: absolute;
		width: 100%;
		background: $select-bg;

		.ks-select-dropdown-input {
			padding: rem($select-input-padding);
			box-shadow: 0px -1px 0 0px #fff, 0 0 0 1px #aaa;
			background: $select-bg;

			> input:not(.is-multiple) {
				@include ks-autocomplete-input;
			}

			> input.is-multiple {
				border: 0;
				outline: none;
			}
		}

		.autocomplete-list {
			li {
				border-color: transparent;
			}
		}
	}

	.ks-select-selection {
		position: relative;
		padding: rem($select-selected-padding);
		border: none;

		.ks-select-arrow {
			@include triangle-down($size: rem(9px), $color: $select-arrow-color);
			@include v-center();
			right: 1rem;
		}
	}

}
