@import "prismjs/themes/prism-okaidia.css";
//@import "highlight.js/styles/tokyo-night-dark.css";
@import "../../../src/styles/variables/global";

$side-nav-bg: transparent;
$nav-links-hover-color: transparent;
$side-nav-links-color: $state-default-bg;

$nav-vertical-link-padding: 0.25rem 0 0.25rem 0.75rem;
$nav-brand-bg: transparent;
$nav-brand-color: get($brand, primary);

$top-bar-hover-bg: get($brand, light);
$top-bar-hover-color: $white;

@import "../../../src/styles/kickstart";
@import "../../../src/styles/utilities";

.nav-links {
    margin-top: 1.25rem !important;

    a:hover {
        color: get($brand, lighter);
    }
}
.code-block-accordion ul li {
    background: #CCC;
}