@import "../functions/_utils";
@import "../variables/_autocomplete";

@mixin ks-autocomplete-input($extend: true) {
	@if $extend {
		@extend %ks-autocomplete-input;
	} @else {
		border: 1px solid $ac-input-border;
		outline: none;
		width: 100%;
		padding: rem($ac-input-padding);

		@if $ac-input-box-shadow != false {
			box-shadow: $ac-input-box-shadow;
		}
	}
}

%ks-autocomplete-input {
	@include ks-autocomplete-input(false);
}