@import "../functions/_utils";
@import "../variables/_global";
@import "../variables/_forms";

@mixin form-input($extend: true) {
	@if $extend {
		@extend %form-input;
	} @else {
		padding: rem($form-padding);
		border: $form-border;
		color: $form-color;
		width: 100%;
        margin-bottom: rem($form-block-margin-bottom);
		@if $form-box-shadow {
			box-shadow: $form-box-shadow;
		}

		&[disabled] {
			cursor: not-allowed;
			opacity: 0.8;
			background: #eee;
		}
	}
}

%form-input {
	@include form-input(false);
}

%form-input-block {
	@extend %form-input;
	display: block;
	margin-top: rem($form-block-margin-top);
	margin-bottom: rem($form-block-margin-bottom);
}

%form-input-inline {
	@extend %form-input;
	display: inline-block;
	margin-left: rem($form-inline-margin-left);
	margin-right: rem($form-inline-margin-right);
}

%reset-input {
    border: 0;
    outline: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
    width: auto;
    padding: 1px 0;
}
