@use "sass:math";
@import "../variables/_grid";
@import "../functions/_grid-functions";
@import "_ks-grid-container";
@import "_ks-grid-push";
@import "_ks-grid-media";
@import "_ks-grid-shift";

@mixin ks-breakpoint($grid, $max: false) {
    @if map-get($grid, media) == null {
        @content
    } @else {
        @if $max {
            $grid: map-merge($grid, (media: quote('(max-width:' + map-get($grid, media) + ')')));
        }

        @include ks-grid-media($grid) {
            @content;
        }
    }
}

@mixin ks-grid-collapse($grid: $ks-grid) {
    $_grid-gutter: map-get($grid, gutter);

    @if unit($_grid-gutter) == "%" {
        @warn "`ks-grid-collapse` is not compatible with percentage based gutters.";
    }

    margin-#{ks-float-direction($grid)}: -($_grid-gutter);
    margin-#{ks-opposite-direction($grid)}: -($_grid-gutter);
    width: calc(100% + #{($_grid-gutter * 2)});
}

@mixin ks-sm() {
    @include ks-breakpoint($grid-sm) {
        @content;
    }
}

@mixin ks-tab($max: false) {
    @include ks-breakpoint($grid-tab, $max) {
        @content;
    }
}

@mixin ks-med() {
    @include ks-breakpoint($grid-med) {
        @content;
    }
}

@mixin ks-lg() {
    @include ks-breakpoint($grid-lg) {
        @content;
    }
}

@mixin ks-xlg() {
    @include ks-breakpoint($grid-xlg) {
        @content;
    }
}

@mixin ks-row() {
    @include ks-grid-container;
}


@mixin ks-grid-column($columns: null, $grid: $ks-grid) {
    $columns: ks-column-default($grid, $columns);
    $_grid-columns: map-get($grid, columns);
    $_grid-gutter: map-get($grid, gutter);

    width: calc(#{ks-column-width($grid, $columns)});

    // TODO this is not working
    // float: ks-float-direction($grid);
    // margin-#{ks-float-direction($grid)}: $_grid-gutter;
    float: left;
    margin-left: $_grid-gutter;
}

@mixin ks-col($column, $grid: false) {
    @if $grid == false {
        @include ks-grid-column($column);
    } @else {
        @include ks-grid-column($column, $grid);
    }
}

@mixin ks-col-sm($column) {
    @include ks-col($column, $grid-sm);
}

@mixin ks-col-tab($column) {
    @include ks-col($column, $grid-tab);
}

@mixin ks-col-med($column) {
    @include ks-col($column, $grid-med);
}

@mixin ks-col-lg($column) {
    @include ks-col($column, $grid-lg);
}

@mixin ks-col-xlg($column) {
    @include ks-col($column, $grid-xlg);
}