@mixin nav-bar() {
	@include row();
	background-color: color(nav, background-color);

	.nav-brand {
		background-color: color(nav, brand-background);
		height: setting(nav, height);
		width: 100%;
		text-align: center;

		img {
			height: 100%;
			width: auto;
		}
	}

	.nav-links {

		&.center {
			text-align: center;
		}

		a {
			color: color(nav, color);
			text-decoration: none;
			padding: 1em;
			display: inline-block;
			@include transition(background-color, 0.3);

			&:hover {
				background-color: color(nav, hover);
			}

			.router-link-active, .active {

			}
		}
	}
}

@mixin top-bar() {
	position: relative;
	height: setting(nav, height);
	background-color: color(top-bar, background-color);
	color: color(top-bar, color);
	box-shadow: 0 2px 1px color(med-gray);

	.text {
		@include v-center;
	}

	.dropdown {
		margin: 0;
		padding-left: 0;
		list-style-type: none;
		display: inline-block;
		height: 100%;
		position: relative;

		> li:first-child {
			height: 100%;

			&:hover {
				ul.sub-dropdown {
					display: block;
					padding: 0;
					margin: 0;
					background: color(top-bar, background-color);
					box-shadow: 0 1px 2px color(med-gray);

					a {
						padding: 0.75em;
						line-height: setting(nav, height) / 2;

						&:hover {
							background-color: color(top-bar, hover);
							color: color(top-bar, hover-color);
						}
					}
				}
			}

			ul.sub-dropdown {
				list-style-type: none;
				display: none;
			}

			a {
				display: block;
				text-decoration: none;
				color: color(top-bar, color);
				padding: setting(nav, padding);
				line-height: setting(nav, height) - (setting(nav, padding) * 2);
			}
		}
	}
}