@import "../functions/_utils";
@import "../variables/_navigation";
@import "./_animation";
@import "./_utils";
@import "./_grid";

%mobile-menu {
	@include v-center;
	left: 0.5rem;
	outline: none;
	padding: rem($nav-mobile-icon-padding);
	border: 1px solid;

	&:hover {
		cursor: pointer;
	}

	svg {
		vertical-align: middle;
	}

	@include breakpoint(map-get($breakpoint-list, $side-nav-breakpoint)) {
		display: none;
	}
}

%show-dropdown-nav {
	ul.sub-dropdown {
		padding: 0;
		margin: 0;
		background: $top-bar-dd-bg;
		width: 100%;

		@if $top-bar-dd-box-shadow != false {
			box-shadow: $top-bar-dd-box-shadow;
		}

		@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
			display: block;
			top: $nav-height;
			position: absolute;
		}

		@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint), true) {
			display: flex;
			flex-direction: column;
		}

		a {
			padding: rem($top-bar-dd-link-padding);
			line-height: ($nav-height / 2);

			&:hover {
				background-color: $top-bar-dd-hover;
				color: $top-bar-dd-hover-color;
			}
		}
	}
}

@mixin side-nav() {
	@include row();
	background-color: $side-nav-bg;
	z-index: 5;
	position: relative;

	// Mobile First Stuff
	width: 100%;
	height: 40px;
	padding-top: 0;

	.mobile-menu {
		@extend %mobile-menu;
		color: $side-nav-links-color;
		background-color: $side-nav-bg;

		svg path {
			fill: $side-nav-links-color;
		}
	}

	.brand {
		background-color: $nav-brand-bg;
		width: 100%;
		text-align: center;
		color: $nav-brand-color;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		@include breakpoint(map-get($breakpoint-list, $side-nav-breakpoint)) {
			height: $nav-height;
		}

		img {
			height: 100%;
			width: auto;
		}
	}

	.nav-links {
		background: $nav-brand-bg;
		z-index: 6;
		position: absolute;
		width: 100%;
		left: -100%;

		@include breakpoint(map-get($breakpoint-list, $side-nav-breakpoint)) {
			left: 0;
		}

		&.center {
			text-align: center;
		}

		a {
			color: $side-nav-links-color;
			text-decoration: none;
			padding: 1em;
			display: inline-block;
			@include transition(background-color, 0.3);

			&:hover {
				background-color: $nav-links-hover-color;
			}

			.router-link-active, .active {

			}
		}
	}

	&.show {
		@include breakpoint(map-get($breakpoint-list, $side-nav-breakpoint), true) {
			.nav-links {
				left: 0;
				top: 40px;
			}
		}
	}
}

@mixin top-bar() {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	height: $nav-height;
	background-color: $top-bar-bg;
	color: $top-bar-color;
	@if $top-bar-box-shadow != false {
		box-shadow: $top-bar-box-shadow;
	}

	@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
		flex-wrap: nowrap;
	}

	.text {
		@include v-center;
	}

	.mobile-menu {
		@extend %mobile-menu;
		color: $top-bar-color;
		background-color: $top-bar-bg;
		border-color: $top-bar-color;

		svg path {
			fill: $top-bar-color;
		}

		&.has-sidebar {
			right: 0.5rem;
			left: auto;
			border-color: transparent;
		}
	}

	.brand {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.25rem 0.5rem;
		white-space: nowrap;
		width: 100%;
		height: 100%;

		@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
			width: auto;
			height: 100%;
		}
	}

	.collapse {
		width: 100%;
		flex-direction: column;
		display: none;
		position: relative;

		@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
			height: 100%;
			flex-direction: row;
			display: flex;
		}

		@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint), true) {
			position: absolute;
			top: $nav-height;
			width: 100%;

			.nav-links, .dropdown {
				flex-direction: column;
				background: $top-bar-bg;
				width: 100%;

				li, a {
					width: 100%;
				}
			}
		}
	}

	&.show {
		.collapse {
			@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint), true) {
				display: block;
			}
		}
	}

	.dropdown {
		margin: 0;
		padding-left: 0;
		list-style-type: none;
		display: flex;
		height: 100%;
		position: relative;

		&.show {
			> li:first-child {
				@extend %show-dropdown-nav;
			}
		}

		li {
			height: 100%;
			display: flex;
			align-items: center;

			@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint), true) {
				flex-direction: column;
			}
		}

		> li:first-child {
			height: 100%;

			&:hover {
				@extend %show-dropdown-nav;
			}

			ul.sub-dropdown {
				list-style-type: none;
				display: none;
			}

			a {
				display: flex;
				align-items: center;
				height: 100%;
				width: 100%;
				text-decoration: none;
				color: $top-bar-color;
				padding: 10px;

				&:hover {
					background-color: $top-bar-hover-bg;
					color: $top-bar-hover-color;
				}
			}
		}

		&.right {
			@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
				margin-left: auto;
			}
		}
	}

	&.fixed {
		position: fixed;
		width: 100%;
		z-index: 10;

		@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
			& ~ div {
				margin-top: $nav-height;
			}
		}
	}

	@at-root {
		.content &.fixed {
			width: inherit;
		}
	}

	.nav-links {
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: 100%;
		display: flex;

		li {
			height: 100%;
			display: flex;
			align-items: center;

			a {
				height: 100%;
				display: flex;
				align-items: center;
				padding: 15px 10px;
				text-decoration: none;
				color: $text-color;

				&:hover {
					color: $white;
					background-color: get($brand, lighter);
				}
			}
		}
	}
}