@import "../functions/_utils";
@import "../variables/_navigation";
@import "../variables/_forms";
@import "./_animation";
@import "./_utils";
@import "./_grid";

%mobile-menu {
	@include v-center;
	left: 0.5rem;
	outline: none;
	padding: rem($nav-mobile-icon-padding);
	border: 1px solid;

	&:hover {
		cursor: pointer;
	}

	svg {
		vertical-align: middle;
	}

	@include breakpoint(map-get($breakpoint-list, $side-nav-breakpoint)) {
		display: none;
	}
}

%show-dropdown-nav {
	ul.sub-dropdown {
		padding: 0 0 0 1rem;
		margin: 0;
		background: darken($top-bar-dd-bg, 5%);
		width: 100%;
		display: flex;
		flex-direction: column;

		@if $top-bar-dd-box-shadow != false {
			box-shadow: $top-bar-dd-box-shadow;
		}

		@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
			display: block;
			top: $nav-height;
			position: absolute;
			padding-left: 0;
		}

		a, button {
			padding: rem($top-bar-dd-link-padding / 2);
			line-height: rem(($nav-height / 2));

			@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
				padding: rem($top-bar-dd-link-padding);
			}

			&:hover {
				background-color: $top-bar-dd-hover;
				color: $top-bar-dd-hover-color;
			}
		}
	}
}

@mixin side-nav() {
	@include row();
	background-color: $side-nav-bg;
	z-index: 6;
	position: relative;

	// Mobile First Stuff
	width: 60%;
	height: $nav-height;
	padding-top: 0;
	margin-left: -60%;

	@include tab() {
		margin-left: 0;
		display: block;
	}

	.mobile-menu {
		@extend %mobile-menu;
		color: $side-nav-links-color;
		background-color: $side-nav-bg;

		svg path {
			fill: $side-nav-links-color;
		}
	}

	.brand {
		background-color: $nav-brand-bg;
		width: 100%;
		text-align: center;
		color: $nav-brand-color;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		@include breakpoint(map-get($breakpoint-list, $side-nav-breakpoint)) {
			height: $nav-height;
		}

		img {
			height: 100%;
			width: auto;
		}
	}

	.nav-links {
		background: $side-nav-bg;
		z-index: 7;
		position: absolute;
		width: 100%;
		left: -100%;

		@include breakpoint(map-get($breakpoint-list, $side-nav-breakpoint)) {
			left: 0;
		}

		&.center {
			text-align: center;
		}

		a {
			color: $side-nav-links-color;
			text-decoration: none;
			padding: 1em;
			display: inline-block;
			@include transition(background-color, 0.3);

			&:hover {
				background-color: $nav-links-hover-color;
			}

			&.router-link-active, &.is-active {
				background-color: $nav-links-active-bg;
				color: $nav-links-active-color;
			}
		}
	}

	&.show {
		@include breakpoint(map-get($breakpoint-list, $side-nav-breakpoint), true) {
			display: block;
			overflow-y: auto;
			margin-left: 0;
		}

		~ .content {
			margin-left: 60%;
			overflow: hidden;
		}
	}

	@include breakpoint(map-get($breakpoint-list, $side-nav-breakpoint), true) {
		height: 100%;
		transition: margin .3s ease;

		.nav-links {
			left: 0;
			top: $nav-height;
		}

		~ .content {
			background: $body-bg;
			z-index: 100;
			margin-left: 0;
			transition: margin .3s ease;
			position: relative;

			.top-bar {
				left: 0;
			}
		}
	}
}

@mixin top-bar() {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	height: $nav-height;
	background-color: $top-bar-bg;
	color: $top-bar-color;
	@if $top-bar-box-shadow != false {
		box-shadow: $top-bar-box-shadow;
	}

	@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
		flex-wrap: nowrap;
	}

	.text {
		@include v-center;
	}

	.mobile-menu {
		@extend %mobile-menu;
		color: $top-bar-color;
		background-color: $top-bar-bg;
		border-color: $top-bar-color;

		svg path {
			fill: $top-bar-color;
		}

		&.has-sidebar {
			right: 0.5rem;
			left: auto;
			border-color: transparent;
		}
	}

	.brand {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.25rem 0.5rem;
		white-space: nowrap;
		width: 100%;
		height: 100%;

		@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
			width: auto;
			height: 100%;
		}
	}

	.form-group {

		@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
			display: flex;
			align-items: center;
			margin-bottom: 0;
			margin-top: 0;
			margin-left: rem($form-inline-margin-left);
		}
	}

	.collapse {
		width: 70%;
		flex-direction: column;
		position: absolute;
		background: $top-bar-bg;
		top: $nav-height;
		right: -100%;
		transition: right .3s ease;
		box-shadow: -2px 3px 3px 0px rgba(0,0,0,0.2);

		.nav-links, .dropdown {
			flex-direction: column;
			background: $top-bar-bg;
			width: 100%;

			li, a {
				width: 100%;
			}
		}

		@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
			height: 100%;
			flex-direction: row;
			display: flex;
			position: relative;
			top: 0;
			right: 0;
			width: 100%;
			box-shadow: none;

			.nav-links, .dropdown {
				flex-direction: unset;
				width: unset;
			}
		}
	}

	&.show {
		.collapse {
			@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint), true) {
				display: block;
				right: 0;
			}
		}
	}

	.dropdown {
		margin: 0;
		padding-left: 0;
		list-style-type: none;
		display: flex;
		height: 100%;
		position: relative;

		&.show {
			> li:first-child {
				@extend %show-dropdown-nav;
			}
		}

		li {
			height: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;

			@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
				flex-direction: row;
			}
		}

		li {
			height: 100%;

			&:hover {
				@extend %show-dropdown-nav;
			}

			ul.sub-dropdown {
				list-style-type: none;
				display: none;

				form {
					width: 100%;
				}
			}

			a, button {
				display: flex;
				align-items: center;
				height: 100%;
				width: 100%;
				text-decoration: none;
				color: $top-bar-color;
				padding: 10px;
				border: 0;
				background: $top-bar-dd-bg;
				cursor: pointer;
				position: relative;

				&.dropdown-toggle:after {
					content: '';
					position: absolute;
					right: 5%;
					@include triangle-down($top-bar-color, 8px);

					@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
						position: relative;
						right: 0;
						margin-left: rem(5px);
					}
				}

				&:hover {
					background-color: $top-bar-hover-bg;
					color: $top-bar-hover-color;
				}
			}
		}

		&.right {
			@include breakpoint(map-get($breakpoint-list, $top-bar-breakpoint)) {
				margin-left: auto;
			}
		}
	}

	&.fixed {
		position: fixed;
		width: 100%;
		z-index: 10;

		& ~ div {
			margin-top: $nav-height;
		}
	}

	@at-root {
		.content &.fixed {
			width: inherit;
		}
	}

	.nav-links {
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: 100%;
		display: flex;

		li {
			height: 100%;
			display: flex;
			align-items: center;

			a {
				height: 100%;
				display: flex;
				align-items: center;
				padding: 15px 10px;
				text-decoration: none;
				color: $text-color;

				&:hover {
					color: $white;
					background-color: get($brand, lighter);
				}
			}
		}
	}
}

body.side-nav-open {
	overflow: hidden;
}