@import "../variables/_global";

@mixin state-default() {
	background-color: $state-default-bg;
	border: 1px solid $state-default-border;
	font-weight: normal;
	color: $state-default-color;
}

@mixin state-hover() {
	background-color: $state-hover-bg;
	border: 1px solid $state-hover-border;
	font-weight: normal;
	color: $state-hover-color;
}

@mixin state-focus() {
	background-color: $state-focus-bg;
	border: 1px solid $state-focus-border;
	font-weight: bold;
	color: $state-focus-color;
}

@mixin state-danger() {
    background-color: $state-danger-bg;
    border: 1px solid $state-danger-border;
    color: $state-danger-color;
}

@mixin state-danger-hover() {
    background-color: $state-danger-hover-bg;
    border: 1px solid $state-danger-hover-border;
    font-weight: normal;
    color: $state-danger-hover-color;
}
