@import "../variables/_colors";

@mixin state-default() {
	background-color: $state-default-bg;
	border: 1px solid $state-default-border;
	font-weight: normal;
	color: $state-default-color;
}

@mixin state-hover() {
	background-color: $state-hover-bg;
	border: 1px solid $state-hover-border;
	font-weight: normal;
	color: $state-hover-color;
}